<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">

        <app-sidebar></app-sidebar>
    </nz-sider>

    <nz-layout>
        <nz-header class="app-header">
            <app-header></app-header>
        </nz-header>
        <nz-content>

            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>

        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>

<!--- 

     <nz-header>
        <app-header></app-header>
    </nz-header>


    <nz-layout>
        <app-sidebar></app-sidebar>
        <nz-content>

            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
-->