nz-header {
    background: rgba(255, 255, 255, 0.2);
    padding: 0;
}

nz-content {
    margin: 0 16px;
    max-height: 720px;
    line-height: 120px;
}

nz-layout {
    height: 720px;
}

nz-table {
    max-height: 520px;
    line-height: 120px;
}

.inner-content {
    padding: 24px;
    background: #fff;
}

nz-footer {
    text-align: center;
}