<h1> Solicitudes de Personal </h1>
<br>

<nz-table #TableData nzBordered [nzPageSize]="5" [nzData]="listOfData" nzTableLayout="fixed">

    <thead>
        <tr>
            <th class="text-center" nzWidth="80%">Mensaje</th>
            <th class="text-center" nzWidth="20%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of TableData.data">
            <td class="text-center">{{data.mensaje}}</td>
            <td class="text-center">
                <a (click)="aceptarSol(data.id)" class="edit"> <i nz-icon nzType="check" nzTheme="outline" style="font-size: 20px; color: rgb(0, 204, 102);"></i></a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="rechazarSol(data.id)" class=delete> <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 20px; color:  rgb(204, 0, 0)"></i> </a>
            </td>
        </tr>
    </tbody>
</nz-table>