<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <p class="text-center text-secondary">Cambia el color de cinta de las semanas desde una fecha especificada.</p>
    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="semana">Seleccionar fecha inicial</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor selecciona una fecha!">
            <nz-date-picker [(ngModel)]="selectedValueDate" id="semana" formControlName="semana" nzFormat="dd/MM/yyyy" ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="cinta">Seleccionar cinta</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor selecciona una cinta!">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona una cinta" id="cinta" formControlName="cinta" [(ngModel)]="selectedValueCinta">
                <nz-option *ngFor="let cinta of listOfCinta" [nzLabel]="cinta.nombre" [nzValue]="cinta.id"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area text-center">
        <nz-form-control >
            <button nz-button nzType="primary">Modificar cinta de las semanas</button>
        </nz-form-control>
    </nz-form-item>

</form>

