<div class="container">
    <h1>Reporte enfundados por semana - {{anioLabel}}</h1>
    <div class="row">
        <div class="col-1 d-flex align-items-center">
            <span>Enfundados</span>
        </div>
        <div class="col-md-8">
            <div style="display: block;">
                <canvas baseChart width="100" height="100" [datasets]="lineChartData" [options]="lineChartOptions" [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <p>Filtro por año:</p>
            <nz-date-picker nzMode="year" [(ngModel)]="date" [nzInputReadOnly]=true (ngModelChange)="onChange($event)"></nz-date-picker>
            <br />
            <button class="btn btn-primary block" (click)="filtro_anio()">Filtrar</button>
            <div class="text-center pt-5">¿Deseas recibir por hectárea los datos?<input type="checkbox" [(ngModel)]="isHectarea" (ngModelChange)="onChangeHectarea($event)"></div>
        </div>
    </div>
    <div class="text-center">
        <span>Semanas</span>
    </div>
</div>