<!--
    <div class="app-header">
        <span class="header-trigger">        
       <i class="trigger" nz-icon nzType="poweroff" nzTheme="outline"></i>    
       </span>
    </div>
    ----
    <span class="header-trigger">        
        <i [routerLink]="['/login']" routerLinkActive="router-link-active"  class="trigger" nz-icon nzType="poweroff" nzTheme="outline" ></i>    
 </span>

-->
<nz-header style="background-color: white;">
    <span class="header-trigger">        
        <i [routerLink]="['/login']" routerLinkActive="router-link-active"  class="trigger" nz-icon nzType="poweroff" nzTheme="outline" ></i>    
 </span>
</nz-header>