<h1> Visualizar Lotes </h1>
<div>
    <button (click)="showModal()" nz-button [nzType]="'primary'" nzShape="round"><i nz-icon nzType="plus"></i>Agregar Lote</button>

</div>
<br>


<nz-table #editRowTable nzBordered [nzData]="listOfData" [nzPageSize]="5" nzTableLayout="fixed">
    <thead>
        <tr>
            <th class="text-center" nzWidth="30%">Número de Lote</th>
            <th class="text-center" nzWidth="30%">Superficie Km2</th>
            <th class="text-center" nzWidth="30%">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of editRowTable.data">
            <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                <td class="text-center">{{ data.numero }}</td>
                <td class="text-center">{{ data.superficie }}</td>
                <td class="text-center">
                    <a (click)="startEdit(data.id)" class="edit"> <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c;"></i></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="¿Seguro que desea eliminar?" (nzOnConfirm)="deleteRow(data.id)" class=delete>
                        <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 20px; color:  rgb(204, 0, 0)">
                        </i>
                    </a>
                </td>
            </ng-container>

            <ng-template #editTemplate>
                <td class="text-center"><input #lote type="text" nz-input [(ngModel)]="editCache[data.id].data.numero" /></td>
                <td class="text-center"><input #super type="text" nz-input [(ngModel)]="editCache[data.id].data.superficie" /></td>
                <td class="text-center">
                    <a *ngIf=" super.value.length!==0 && lote.value.length!==0" (nzOnConfirm)="saveEdit(data.id)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                        <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c;">
                        </i>
                    </a>
                    <!--<a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>  -->
                </td>

            </ng-template>
        </tr>
    </tbody>
</nz-table>

<!--- (nzOnOk)="handleOk()"  (nzOnCancel)="handleCancel()" -->

<nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar Lote" [nzFooter]=null (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="loteForm" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Número de Lote </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa el número de Lote!">
                    <input width="50px" nz-input id="idSemana" formControlName="numero" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Superficie Km2 </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa la superficie del lote!">
                    <input width="50px" nz-input id="superficie" formControlName="superficie" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-control class="text-center" [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">Crear</button>
                </nz-form-control>
            </nz-form-item>

        </form>
    </ng-container>
</nz-modal>