<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th nzWidth="10%">id</th>
            <th nzWidth="15%">Semana</th>
            <th nzWidth="30%">Cinta</th>
            <th nzWidth="10%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of editRowTable.data">
            <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                <td>{{ data.id }}</td>
                <td>{{ data.Semana }}</td>
                <td>{{ data.Cinta }}</td>
                <td><a (click)="startEdit(data.id)">Edit</a></td>
            </ng-container>
            <ng-template #editTemplate>
                <td></td>
                <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.Semana" /></td>
                <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.Cinta" /></td>
                <td>
                    <a (click)="saveEdit(data.id)" class="save">Save</a>
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                </td>
            </ng-template>
        </tr>
    </tbody>
</nz-table>