<h1> Enfunde por Semana</h1>

<form nz-form nzLayout="inline" [formGroup]="filterForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Número de Semana</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa el número de semana!">
            <input type="number" width="50px" nz-input id="idSemana" formControlName="semana" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Ingrese un Año </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa el año!">
            <input type="number" width="50px" nz-input id="superficie" formControlName="anho" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-control class="text-center" [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Obtener Datos</button>
        </nz-form-control>
    </nz-form-item>

</form>
<br>
<br>
<div class="row animated fadein fast" *ngIf="cargando && filterForm.valid">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="spinner-border text-primary" role="status" aria-hidden="true"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>


<nz-table *ngIf="!cargando" #editRowTable nzBordered [nzData]="filas" [nzPageSize]="5" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let item of titulos">{{item}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fila of editRowTable.data">
            <td *ngFor="let value of fila"> {{value}}</td>
        </tr>
    </tbody>
</nz-table>