<h1>Lista de las Semanas Laborables </h1>
<div class="my-4">
    <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"></i>Cambiar color de la semana</button>
</div>

<nz-table #basicTable nzBordered [nzPageSize]="8"  [nzData]="listOfWeeks">
    <thead>
        <tr>
            <th class="text-center" nzWidth="10%">Número de Semana</th>
            <th class="text-center" nzWidth="30%">Fecha Inicial</th>
            <th class="text-center" nzWidth="30%">Cinta</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td class="text-center">{{ data.semana }}</td>
            <td class="text-center">{{ data.fecha_inicial }}</td>
            <td class="text-center">{{ data.cinta }}</td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Cambiar color de las semanas" [nzFooter]=null (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <app-modificar-color-semana></app-modificar-color-semana>
    </ng-container>
</nz-modal>
