<h1>Lista de Cintas</h1>
<div class="my-4">
    <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"></i>Agregar Cinta</button>
</div>

<nz-table #editRowTable nzBordered [nzPageSize]="5" [nzData]="listOfCinta">
    <thead>
        <tr>
            <th nzWidth="10%">ID</th>
            <th nzWidth="20%">Cinta</th>
            <th nzWidth="25%">Código</th>
            <th nzWidth="10%">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of editRowTable.data">
            <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                <td>{{ data.id }}</td>
                <td>{{ data.nombre }}</td>
                <td><input [value]="data.hex_code" [(colorPicker)]="data.hex_code" [cpOutputFormat]="'hex'" [cpDisabled]="true" [cpDisableInput]="true" [style.background]="data.hex_code" readonly/></td>
                <td class="text-center">
                    <a (click)="startEdit(data.id)" class="edit"> <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c;"></i></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="¿Seguro que desea eliminar?" (nzOnConfirm)="deleteRow(data, data.id)" class=delete> <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 20px; color:  rgb(204, 0, 0)"></i> </a>
                </td>
            </ng-container>
            <ng-template #editTemplate>
                <td>{{ data.id }}</td>
                <td><input #nombre type="text" nz-input [(ngModel)]="editCache[data.id].data.nombre" appValidateForm="onlyLetterNumber" /></td>
                <td> <input type="text" nz-input [(ngModel)]="editCache[data.id].data.hex_code" [value]="editCache[data.id].data.hex_code" [(colorPicker)]="editCache[data.id].data.hex_code" [cpOutputFormat]="'hex'" [cpDisableInput]="true" [style.background]="editCache[data.id].data.hex_code"
                        readonly/></td>
                <!--td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.codigo" /></td-->
                <td class="text-center">
                    <a *ngIf="nombre.value.length!==0" (nzOnConfirm)="saveEdit(data.id)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?"><i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c;"></i> </a>
                    <a nz-popconfirm nzPopconfirmTitle="Deseas cancelar?" (nzOnConfirm)="cancelEdit(data.id)"><i nz-icon nzType="close-circle" nzTheme="outline" style="font-size: 20px; color:  rgb(204, 0, 0)"></i></a>
                </td>
            </ng-template>
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar Cinta" [nzFooter]=null (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <app-crear-color></app-crear-color>
    </ng-container>
</nz-modal>