<h1>Lista de Personal</h1>
<div class="my-4">
    <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"></i>Agregar Personal</button>
</div>

<nz-table #editRowTable nzBordered [nzPageSize]="8" [nzData]="listOfPersonal">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Rol</th>
            <th>Activo</th>
            <th>Usuario</th>
            <th nzWidth="10%">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of editRowTable.data">
            <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                <td>{{ data.id }}</td>
                <td>{{ data.nombres }}</td>
                <td>{{ data.apellidos }}</td>
                <td>{{ data.cedula }}</td>
                <td>{{ data.rol }}</td>
                <td>{{ data.activo  ? "Sí" : "No" }}</td>
                <td>{{ data.username }}</td>
                <td class="text-center">
                    <a (click)="startEdit(data.id)" class="edit"> <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c;"></i></a>
                </td>
            </ng-container>
            <ng-template #editTemplate>
                <td>{{ data.id }}</td>
                <td><input #nombres type="text" nz-input [(ngModel)]="editCache[data.id].data.nombres" appValidateForm="words"/></td>
                <td><input #apellidos type="text" nz-input [(ngModel)]="editCache[data.id].data.apellidos" appValidateForm="words"/></td>
                <td><input #cedula type="text" nz-input [(ngModel)]="editCache[data.id].data.cedula" appValidateForm="integer"/></td>
                <td>
                    <nz-select nzPlaceHolder="Selecciona un rol" [(ngModel)]="editCache[data.id].data.rol">
                        <nz-option *ngFor="let rol of listOfRol" [nzLabel]="rol.nombre" [nzValue]="rol.nombre"></nz-option>
                    </nz-select>
                </td>
                <!--td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.rol" /></td-->
                <td>
                    <nz-select [(ngModel)]="editCache[data.id].data.activo">
                        <nz-option [nzValue]=true nzLabel="Sí"></nz-option>
                        <nz-option [nzValue]=false nzLabel="No"></nz-option>
                    </nz-select>
                </td>
                <td><input #username type="text" nz-input [(ngModel)]="editCache[data.id].data.username" appValidateForm="username"/></td>
                <td class="text-center">
                    <a *ngIf="nombres.value.length!==0 && apellidos.value.length!==0 && cedula.value.length!==0 && username.value.length!==0" (nzOnConfirm)="saveEdit(data.id)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?"><i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c;"></i> </a>
                    <a nz-popconfirm nzPopconfirmTitle="Deseas cancelar?" (nzOnConfirm)="cancelEdit(data.id)"><i nz-icon nzType="close-circle" nzTheme="outline" style="font-size: 20px; color:  rgb(204, 0, 0)"></i></a>
                </td>
                <!--td>
                    <a (click)="saveEdit(data.id)" class="save">Guardar</a>
                    <a nz-popconfirm nzPopconfirmTitle="Deseas cancelar?" (nzOnConfirm)="cancelEdit(data.id)">Cancelar</a>
                </td-->
            </ng-template>

            <!--td>
                <nz-button-group>
                    <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                </nz-button-group>
            </td-->
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar Personal" [nzFooter]=null (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <app-crear-personal></app-crear-personal>
    </ng-container>
</nz-modal>