<h1>Respaldo de Datos</h1>
<div class="mx-5">
    <div>
        <h3>Fecha del ultimo respaldo:</h3>
        <h5>Viernes, 1 de Mayo del 2021, 04:09pm</h5>
    </div>
    <div>
        <h3>Tamano:</h3>
        <h5>15 Mb</h5>
    </div>
    <div>
        <h3>Guardado en:</h3>
        <h5>Google Drive</h5>
        <h5>Correo: amaurivvan@gmail.com
            <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        </h5>
    </div>
    <div>
        <button nz-button nzType="primary" nzShape="round"><i nz-icon nzType="save"></i>Realizar respaldo</button>
    </div>
</div>