<h1>Respaldo de Datos</h1>
<div class="mx-5">
    <div class=" d-flex justify-content-center align-items-center">
        <h3>Fecha del ultimo respaldo:</h3>
        <h5 nz-typography nzType="secondary">Viernes, 1 de Mayo del 2021, 04:09pm</h5>
    </div>
    <div class=" d-flex justify-content-center align-items-center">
        <h3>Tamaño:</h3>
        <h5 nz-typography nzType="secondary">15 Mb</h5>
    </div>
    <div class=" d-flex justify-content-center align-items-center">
        <h3>Guardado en:</h3>
        <h5 nz-typography nzType="secondary">Google Drive</h5>
    </div>
    <div class=" d-flex justify-content-center align-items-center">
        <h3>Correo:</h3>
        <h5 nz-typography nzType="secondary">amaurivvan@gmail.com</h5>
        <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
    </div>
    <div class=" d-flex justify-content-center align-items-center">
        <button nz-button [nzSize]="size" nzType="primary" nzShape="round"><i nz-icon nzType="save"></i>Realizar respaldo</button>
    </div>
</div>